Package: com.ps.iamyoutube
Name: IAmYouTube
Version: 1.0.0
Architecture: iphoneos-arm
Description: In every possible way, tell app you are the real YouTube app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
